apiVersion: {{ ternary "storage.k8s.io/v1" "storage.k8s.io/v1beta1" (semverCompare ">=1.18.0-0" .Capabilities.KubeVersion.Version) }}
kind: CSIDriver
metadata:
  name: bs.csi.vngcloud.vn
  labels:
    {{- include "vngcloud-blockstorage-csi-driver.labels" . | nindent 4 }}
spec:
  attachRequired: true
  podInfoOnMount: false
  topologyKeys:
    - topology.bs.csi.vngcloud.vn/zone

