calicoKubeControllers:
  maxUnavailable: 1
  image:
    controllers:
      repository: "vcr.vngcloud.vn/81-vks-public/calico-kube-controllers"
      tag: # Default to Chart.appVersion
      pullPolicy: "IfNotPresent"
  nodeSelector:
    kubernetes.io/os: linux
  affinity: {}
  tolerations:
    - key: CriticalAddonsOnly
      operator: Exists
    - effect: NoSchedule
      key: node-role.kubernetes.io/master
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane

calicoTypha:
  maxUnavailable: 1
  image:
    controllers:
      repository: "vcr.vngcloud.vn/81-vks-public/calico-typha"
      tag: # Default to Chart.appVersion
      pullPolicy: "IfNotPresent"
  nodeSelector:
    kubernetes.io/os: linux
  affinity: {}
  tolerations:
    - operator: Exists
      effect: NoSchedule
    - operator: Exists
      effect: NoExecute
    - operator: Exists

calicoNode:
  maxUnavailable: 1
  image:
    cni:
      repository: "vcr.vngcloud.vn/81-vks-public/calico-cni"
      tag: # Default to Chart.appVersion
      pullPolicy: "IfNotPresent"
    node:
      repository: "vcr.vngcloud.vn/81-vks-public/calico-node"
      tag: # Default to Chart.appVersion
      pullPolicy: "IfNotPresent"
  nodeSelector:
    kubernetes.io/os: linux
  affinity: {}
  tolerations:
    - effect: NoSchedule
      operator: Exists
    - effect: NoExecute
      operator: Exists
    - key: CriticalAddonsOnly
      operator: Exists