apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vconCcm.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vconCcm.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.commonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "vconCcm.controllermanager.matchLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include "cloudConfig" . | sha256sum }}
        {{- with .Values.commonAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "vconCcm.controllermanager.labels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.hostAliases }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
        - name: vngcloud-controller-manager
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - /bin/vngcloud-controller-manager
            - --v={{ .Values.logVerbosityLevel }}
            - --cloud-config=$(CLOUD_CONFIG)
            - --cluster-name=$(CLUSTER_NAME)
            - --cloud-provider=vngcloud
            - --use-service-account-credentials=true
            # - --controllers={{- trimAll "," (include "vconCcm.enabledControllers" . ) -}}
            {{- if .Values.serviceMonitor.enabled }}
            - --bind-address=0.0.0.0
            {{- else }}
            - --bind-address=127.0.0.1
            {{- end }}
            {{- if .Values.controllerExtraArgs }}
            {{- with .Values.controllerExtraArgs }}
            {{- tpl . $ | trim | nindent 12 }}
            {{- end }}
            {{- end }}
          {{- if .Values.serviceMonitor.enabled }}
          ports:
          - containerPort: 10258
            hostPort: 10258
            name: http
            protocol: TCP
          {{- end }}
          {{- if or (.Values.extraVolumeMounts) (.Values.secret.enabled) }}
          volumeMounts:
          {{- end }}
          {{- if .Values.secret.enabled }}
            - mountPath: /etc/config
              name: vcontainer-ccm-mount-name
              readOnly: true
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
            {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
          {{- end }}
          {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          env:
            - name: CLOUD_CONFIG
              value: /etc/config/vcontainer-ccm.conf
            - name: CLUSTER_NAME
              value: {{ .Values.cluster.clusterID }}
            {{- if .Values.extraEnv }}
              {{- toYaml .Values.extraEnv | nindent 12 }}
            {{- end }}
      {{- if .Values.extraInitContainers }}
      initContainers: {{ toYaml .Values.extraInitContainers | nindent 6 }}
      {{- end }}
      hostNetwork: true
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}

      {{- if or (.Values.extraVolumes) (.Values.secret.enabled) }}
      volumes:
      {{- end }}
      {{- if .Values.secret.enabled }}
      - name: vcontainer-ccm-mount-name
        secret:
          secretName: {{ .Values.secret.name }}
      {{- end }}
      {{- if .Values.extraVolumes }}
        {{ toYaml .Values.extraVolumes | nindent 6 }}
      {{- end }}
      affinity: {{ toYaml .Values.affinity | nindent 8 }}

