apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name | default "vngcloud-ingress-controller-config" }}
  namespace: kube-system
stringData:
  config: |
    {{- with .Values.cloudConfig }}
    {{- toYaml . | nindent 4 }}
    {{- end }}

