name: Push Chart to vCR

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4.1.0

      - name: login to vcr using helm
        run: |
          echo ${{ secrets.VCR_PASSWORD }} | helm registry login vcr.vngcloud.vn --username ${{ secrets.VCR_USER }} --password-stdin

      - name: Run chart-releaser
        id: run_tests
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Push charts to vcr hcm
        env:
          CHANGED_CHARTS: ${{ steps.run_tests.outputs.changed_charts }}
          CHART_VERSION: ${{ steps.run_tests.outputs.chart_version }}
        run: |
          echo "$CHANGED_CHARTS"
          echo "$CHART_VERSION"
          echo ${{ github.workspace }}
          cd ${{ github.workspace }} && ./push_tgz.sh oci://${{ secrets.VCR_REPO }}/vks-helm-charts $CHANGED_CHARTS

      - name: login to vcr han using helm
        run: |
          echo ${{ secrets.VCR_PASSWORD_HAN }} | helm registry login vcr-han.vngcloud.vn --username ${{ secrets.VCR_USER_HAN }} --password-stdin
      - name: Push charts to vcr han
        env:
          CHANGED_CHARTS: ${{ steps.run_tests.outputs.changed_charts }}
          CHART_VERSION: ${{ steps.run_tests.outputs.chart_version }}
        run: |
          echo "$CHANGED_CHARTS"
          echo "$CHART_VERSION"
          echo ${{ github.workspace }}
          cd ${{ github.workspace }} && ./push_tgz.sh oci://${{ secrets.VCR_REPO_HAN }}/vks-helm-charts $CHANGED_CHARTS          
